doctype html
html
  head
    meta(charset='utf-8')
    |    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |    
    link(href='/html/NavigationCSS.css', rel='stylesheet', type='text/css')
    |    
    script(src='/javascript/jquery/dist/jquery.min.js')
    |    
    script(src="/javascript/ClientRestaurateur.js")
    |    
    script(src="/javascript/clientAjoutRestaurateur.js")
    |    
    title Ajouter un Restaurateur
  body
    #cssmenu
      ul
        li.active
          a(href='/')
            span Accueil
        |    
        li.active
          a(href='/admin/ajouterRestaurant')
            span Ajouter Restaurant
        li.active
          a(href='/admin/gestionRestaurant')
            span Gestion Restaurant
        |    
        li.active
          a(href='/admin/ajouterRestaurateur')
            span Ajout Restaurateur
        li.active
          a(href='/admin/gestionRestaurateur')
            span Gestion Restaurateur
        |        
        li.last
          a(href='/gestionCompte')
            span Gestion du Compte

    #ajouterResto
      h2
        span.fontawesome-unlock
        | Ajouter un restaurateur
      | &#x9;&#x9;
      fieldset
          p
          label(for='info') Prenom
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#prenomInput(type='info', name='prenom', value='')

          p
          label(for='info') Nom
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#nomInput(type='info', name='nom', value='')
  
          p
          label(for='info') Date Naissance
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#naissanceInput(type='info', name='dateNaissance', value='')

          p
          label(for='info') Adresse
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#adresseInput(type='info', name='adresse', value='')
  
          p
          label(for='info') Num&eacute;ro de t&eacute;l&eacute;phone
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#numeroTelephoneInput(type='info', name='numeroTelephone', value='')

          p
          label(for='info') Courriel
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#courrielInput(type='info', name='courriel', value='')
   
          p
          label(for='info') Mot de passe
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#passwordInput(type='info', name='password', value='')
   
   
          p
            button#btnAjouterInfoRestaurateur Enregistrer informations du restaurateur

   h2 Liste de restaurants
    | &#x9;&#x9;
    #restaurantsList
            table
                thead
                    th Nom
                    th Adresse
                    th Numero telephone
                    th Restaurateur
                    th Assigner au Restaurateur
                tbody
        //
     | &#x9;&#x9;
    #ajouterRestaurant
      fieldset
            button#btnConfirmerAjout Finaliser ajout restaurateur
          // FAIRE AFFICHER MESSAGE DE CONFIRMATION
    // end ajout resto
 
