doctype html
html
  head
    meta(charset='utf-8')
    |    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |    
    link(href='/html/NavigationCSS.css', rel='stylesheet', type='text/css')
    |    
    script(src='/javascript/jquery/dist/jquery.min.js')
    |    
    script(src="/javascript/ClientMenu.js")
    |    
    script(src="/javascript/ClientRestaurant.js")

    script(src="/javascript/clientAjouterMenu.js")
    |    
    title Ajouter un menu
  body
    #cssmenu
      ul
        li.active
          a(href='/')
            span Accueil
        li.active
          a(href='/restaurateur/ajouterMenu')
            span Ajouter un menu    
        li.active
          a(href='/restaurateur/changerStatut')
            span Changer statut des commandes
        |        
        li.last
          a(href='/gestionCompte')
            span Gestion du Compte
    h2 Liste des restaurants
    | &#x9;&#x9;
    #restaurantsList
            table
                thead
                    th Nom
                    th Selection
                tbody
    label(for = 'info') Nom du menu
    p
    input#nomMenu(type='text')
    p
    button#btnConfirmerNomMenu Confirmer nom du menu
    p
    label(for='info') Nom du restaurant
    p
    input#nomResto(type='text', readonly)
    h2 Les plats
    | &#x9;&#x9;
    #platsList
            table
                thead
                    th Nom
                    th Description
                    th Prix
                tbody
      h2 Ajouter un plat
      | &#x9;&#x9;
      fieldset
          p
          label(for='info') Nom
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#nomInput(type='info', name='nom', value='')

          p
          label(for='info') Description
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#descriptionInput(type='info', name='description', value='')
  
          p
          label(for='info') Prix
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#prixInput(type='info', name='prix', value='')
   
          p
            button#btnAjoutPlat Ajouter plat
          button#btnConfirmerMenu Ajouter le menu
 
