doctype html
html
  head
    meta(charset='utf-8')
    |    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |    
    link(href='/html/NavigationCSS.css', rel='stylesheet', type='text/css')
    |    
    script(src='/javascript/jquery/dist/jquery.min.js')
    |    
    script(src="/javascript/ClientRestaurant.js")
    |    
    script(src="/javascript/clientGestionRestaurant.js")
    |    
    title Ajouter un Restaurant
  body
    #cssmenu
      ul
        li.active
          a(href='/')
            span Accueil
        |    
        li.active
          a(href='/admin/ajouterRestaurant')
            span Ajouter Restaurant
        li.active
          a(href='/admin/gestionRestaurant')
            span Gestion Restaurant
        |    
        li.active
          a(href='/admin/ajouterRestaurateur')
            span Ajout Restaurateur
        li.active
          a(href='/admin/gestionRestaurateur')
            span Gestion Restaurateur
        |        
        li.last
          a(href='/gestionCompte')
            span Gestion du Compte
    h2 Liste de restaurants
    | &#x9;&#x9;
    #restaurantsList
            table
                thead
                    th Nom
                    th Adresse
                    th Numero telephone
                    th Restaurateur
                    th Modifier
                    th Supprimer
                tbody
        //
     | &#x9;&#x9;
    #restaurantModification
      h2 Modifier un restaurant
      fieldset
          p
          label(for='info') Nom
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#nomInput(type='info', name='nom', value='')

          p
          label(for='info') Adresse
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#adresseInput(type='info', name='adresse', value='')
  
          p
          label(for='info') Num&eacute;ro de t&eacute;l&eacute;phone
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#numeroTelephoneInput(type='info', name='numeroTelephone', value='')
   
          p
          label(for='info') Restaurateur
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#restaurateurInput(type='info', name='restaurateur', value='')
          p
            button#btnModInfoResto Modifier restaurant
          // FAIRE AFFICHER MESSAGE DE CONFIRMATION
 
