doctype html
html(lang='')
  head
    meta(charset='utf-8')
    |    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |    
    link(rel='stylesheet', href='styles.css')
    |    
    link(href='NavigationCSS.css', rel='stylesheet', type='text/css')
    |    
    script(src='http://code.jquery.com/jquery-latest.min.js', type='text/javascript')
    |    
    script(src='script.js')
    |    
    title CSS MenuMaker
  body
    #cssmenu
      ul
        li.active
          a(href='/')
            span Home
        |    
        li
          a(href='/')
            span G&eacute;rer les restaurants
        |    
        li
          a(href='gestionCompte')
            span G&eacute;rer le compte
        |    
        li.last
          a(href='/')
            span Passer une commande
    h1!= message
  html