doctype html
html
  head
    meta(charset='utf-8')
    |    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |    
    link(href='/html/NavigationCSS.css', rel='stylesheet', type='text/css')
    |    
    script(src='/javascript/jquery/dist/jquery.min.js')
    |    
<<<<<<< HEAD
    script(src="/javascript/clientPaiement.js")
=======
    script(src="/javascript/clientPayer.js")
>>>>>>> 10427e288bbb577346026ea7afc859c3d5648745
    |    
    title Payer la commande
  body
              button#btnPayerLivreur Payer le livreur sur place
              
<script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=couimet93@gmail.com" 
    data-button="buynow" 
    data-name="NumeroCommande" 
    data-amount="10" 
    data-currency="CAD" 
    data-shipping="2" 
    data-tax="1" 
    data-callback="/public/html/ConfirmationPayPalClient.html"
></script>
 
