doctype html
html
  head
    meta(charset='utf-8')
    |    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |    
    link(href='/html/NavigationCSS.css', rel='stylesheet', type='text/css')
    |    
    script(src='/javascript/jquery/dist/jquery.min.js')
    |    
    script(src="/javascript/ClientMenu.js")
    |    
    script(src="/javascript/ClientRestaurant.js")

    script(src="/javascript/ClientCommande.js")

    script(src="/javascript/FabriqueCommande.js")

    script(src="/javascript/FabriqueUtilisateur.js")

    script(src="/javascript/clientPasserCommande.js")
    |    
    title Passer une commande
  body
    #cssmenu
      ul
        li.active
          a(href='/')
            span Accueil
        li.active
          a(href='/gestionCompte')
            span Gerer le compte    
        li.last
          a(href='/client/passerCommande')
            span Passer une commande
    | &#x9;&#x9;
    #tablePrincipale
            table
                thead
                tbody
    h2 Votre commande
    | &#x9;&#x9;
    #tableCommande
            table
                thead
                    th Plat
                    th Quantite
                    th Prix
                tbody


          button#btnConfirmerCommande Passer votre commande
 
